<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="foundation.min.css"/>
		<link rel="stylesheet" type="text/css"  href="css.css"/> -->
		 <%= stylesheet_link_tag    'application', media: 'all'%>
  		 <%= javascript_include_tag 'application'%>
  		 <%= csrf_meta_tags %>
	</head>
	<body>

		<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '815364521827776',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>


		<!-- WEB PAGE -->

		<header >
		<% if user_signed_in? %>
	      	Logged in as <strong><%= current_user.email %></strong>.
	      	<%= link_to 'Edit profile', edit_user_registration_path %> |
	      	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	    <% else %>
      		<%= link_to "Sign up", new_user_registration_path %> |
      		<%= link_to "Login", new_user_session_path %>
      		<% flash.each do |name, msg| %>
    			<%= content_tag :div, msg, id: "flash_#{name}" %>
  			<% end %>
    	<% end %>
		</header>
		<aside>
			<%= link_to("twitter", user_omniauth_authorize_path(:twitter))%><br />
			<%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
		</aside>	
	</body>
</html>