<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="foundation.min.css"/>
		<link rel="stylesheet" type="text/css"  href="css.css"/> -->
		 <%= stylesheet_link_tag    'application', media: 'all'%>
  		 <%= javascript_include_tag 'application'%>
  		 <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- app/views/layouts/application.html.erb
		just after <body>
	change appId -->

	<script>
	      // Init the SDK upon load
window.fbAsyncInit = function() {
    FB.init({
        appId      : ENV['FB_APP_ID']
        channelUrl : 'http://shielded-shelf-5715.herokuapp.com/', // Path to your Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
    });

    // listen for and handle auth.statusChange events
    FB.Event.subscribe('auth.statusChange', function(response) {
        // lots of code
    };
}

// Load the SDK Asynchronously
(function(d){
var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
if (d.getElementById(id)) {return;}
js = d.createElement('script'); js.id = id; js.async = true;
js.src = "https://connect.facebook.net/en_US/all.js";
ref.parentNode.insertBefore(js, ref);
}(document));

// this is the basic structure of a FB JS SDK api call, what I needed to add was

if (typeof FB !== 'undefined') {
    // your code from  window.fbAsyncInit = function() {
    // but WITHOUT FB.init({...});
}

	</script>

		<header >
		<% if user_signed_in? %>
	      	Logged in as <strong><%= current_user.email %></strong>.
	      	<%= link_to 'Edit profile', edit_user_registration_path %> |
	      	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	    <% else %>
      		<%= link_to "Sign up", new_user_registration_path %> |
      		<%= link_to "Login", new_user_session_path %>
      		<% flash.each do |name, msg| %>
    			<%= content_tag :div, msg, id: "flash_#{name}" %>
  			<% end %>
    	<% end %>
		</header>
		<aside>
			<%= link_to("twitter", user_omniauth_authorize_path(:twitter))%><br />
			<%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
		</aside>	
		<div class="body">
			<div class="row">
				<div class="small-6 columns thing1">twitta</div>
				<%= yield %>

				<div class="small-4 columns thing2">carlibro</div>
				<div class="small-4 columns thing3">veinte</div>

			</div>		
		</div>	
	</body>
</html>